In [1]:
%matplotlib notebook

In [57]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random

In [5]:
city_file = "C:/Users/link3/Desktop/ALEX USC/city_data.csv"
ride_file = "C:/Users/link3/Desktop/ALEX USC/ride_data.csv"
city_df = pd.read_csv(city_file)
ride_df = pd.read_csv(ride_file)

city_df.head()
ride_df.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344

In [56]:
#Total # rides per city
city_total_rides = ride_df.groupby(["city"]).count()
city_total_rides

                      date  fare  ride_id
city
Amandaburgh             18    18       18
Barajasview             22    22       22
Barronchester           16    16       16
Bethanyland             18    18       18
Bradshawfurt            10    10       10
Brandonfort             19    19       19
Carriemouth             27    27       27
Christopherfurt         27    27       27
Colemanland             22    22       22
Davidfurt               17    17       17
Deanville               19    19       19
East Aaronbury           9     9        9
East Danielview         17    17       17
East Kaylahaven         29    29       29
East Kentstad           13    13       13
East Marymouth          27    27       27
Erikaland               12    12       12
Garzaport                3     3        3
Grahamburgh             25    25       25
Grayville               15    15       15
Harringtonfort           6     6        6
Huntermouth             24    24       24
Hurleymouth             28    28       28
Jerryton                25    25       25
Jessicaport              6     6        6
Johnton                 21    21       21
Joneschester            25    25       25
Josephside              27    27       27
Justinberg              30    30       30
Karenberg               17    17       17
...                    ...   ...      ...
South Evanton           31    31       31
South Jack              19    19       19
South Jennifer           7     7        7
South Karenland         38    38       38
South Latoya            19    19       19
South Marychester        8     8        8
South Michelleport      31    31       31
South Phillip           31    31       31
South Saramouth          4     4        4
South Teresa            22    22       22
Taylorhaven              6     6        6
Valentineton            22    22       22
Veronicaberg            17    17       17
Victoriaport            14    14       14
West Angela             39    39       39
West Anthony            30    30       30
West Christopherberg    26    26       26
West Ericstad           18    18       18
West Gabriel            23    23       23
West Hannah             21    21       21
West Heather             9     9        9
West Heidi              28    28       28
West Josephberg         26    26       26
West Kimmouth           20    20       20
West Patrickchester     16    16       16
West Robert             31    31       31
West Samuelburgh        25    25       25
Williamsonville         14    14       14
Williamsstad            23    23       23
Williamsview            20    20       20

[120 rows x 3 columns]

In [28]:
#Average fare per city
city_average_fare_percents = ride_df.groupby(["city"]).mean()["fare"]
city_average_fare_percents

city
Amandaburgh             24.641667
Barajasview             25.332273
Barronchester           36.422500
Bethanyland             32.956111
Bradshawfurt            40.064000
Brandonfort             35.437368
Carriemouth             28.314444
Christopherfurt         24.501852
Colemanland             30.894545
Davidfurt               31.995882
Deanville               25.842632
East Aaronbury          25.661111
East Danielview         31.560588
East Kaylahaven         23.757931
East Kentstad           29.823077
East Marymouth          30.835185
Erikaland               24.906667
Garzaport               24.123333
Grahamburgh             25.221200
Grayville               27.763333
Harringtonfort          33.470000
Huntermouth             28.993750
Hurleymouth             25.891429
Jerryton                25.649200
Jessicaport             36.013333
Johnton                 26.785714
Joneschester            22.289600
Josephside              32.858148
Justinberg              23.694333
Karenberg               26.340000
                          ...
South Evanton           26.726129
South Jack              22.965263
South Jennifer          35.264286
South Karenland         26.535526
South Latoya            20.093158
South Marychester       41.870000
South Michelleport      24.451613
South Phillip           28.571290
South Saramouth         36.160000
South Teresa            31.220455
Taylorhaven             42.263333
Valentineton            24.636364
Veronicaberg            32.828235
Victoriaport            27.780000
West Angela             25.990000
West Anthony            24.736667
West Christopherberg    24.421154
West Ericstad           22.347222
West Gabriel            20.346087
West Hannah             29.547619
West Heather            33.890000
West Heidi              23.133929
West Josephberg         21.720385
West Kimmouth           29.871500
West Patrickchester     28.233125
West Robert             25.123871
West Samuelburgh        21.767600
Williamsonville         31.875000
Williamsstad            24.362174
Williamsview            26.599000
Name: fare, Length: 120, dtype: float64

In [29]:
#Total # of drivers per city
city_total_drivers = city_df.groupby(["city"]).sum()["driver_count"]
city_total_drivers

city
Amandaburgh             12
Barajasview             26
Barronchester           11
Bethanyland             22
Bradshawfurt             7
Brandonfort             10
Carriemouth             52
Christopherfurt         41
Colemanland             23
Davidfurt               23
Deanville               49
East Aaronbury           7
East Danielview         22
East Kaylahaven         65
East Kentstad           20
East Marymouth           5
Erikaland               37
Garzaport                7
Grahamburgh             61
Grayville                2
Harringtonfort           4
Huntermouth             37
Hurleymouth             36
Jerryton                64
Jessicaport              1
Johnton                 27
Joneschester            39
Josephside              25
Justinberg              39
Karenberg               22
                        ..
South Evanton           11
South Jack              46
South Jennifer           7
South Karenland          4
South Latoya            10
South Marychester        1
South Michelleport      72
South Phillip           38
South Saramouth          7
South Teresa            21
Taylorhaven              1
Valentineton            45
Veronicaberg            20
Victoriaport            16
West Angela             48
West Anthony            70
West Christopherberg    32
West Ericstad           25
West Gabriel            57
West Hannah             12
West Heather             4
West Heidi              28
West Josephberg         45
West Kimmouth            4
West Patrickchester     25
West Robert             39
West Samuelburgh        73
Williamsonville          2
Williamsstad            59
Williamsview            46
Name: driver_count, Length: 120, dtype: int64

In [58]:
plt.xlim(1, 40)

In [59]:
x_axis = np.arange(0, plot.xlim, 1)

In [ ]:
plt.ylim(20, 44)

In [ ]:
plt.scatter(Total_rides,  marker="o", facecolors="gold", edgecolors="light sky blue")

In [ ]:
plt.title("Pyber Ride Sharing Data")
plt.xlabel("Total Number of Rides per City")
plt.ylabel("Average Fare ($)")